$color--primary: #00d084;
$color--black: #000000;
$color--default-black: #333333;
$color--white: #ffffff;
$color--gray-1: #777777;
$color--cyan-bluish-gray: #abb8c3;
$color--pale-pink: #f78da7;
$color--vivid-red: #cf2e2e;
$color--luminous-vivid-orange: #ff6900;
$color--luminous-vivid-amber: #fcb900;
$color--light-green-cyan: #7bdcb5;
$color--pale-cyan-blue: #8ed1fc;
$color--vivid-cyan-blue: #0693e3;
$color--vivid-purple: #9b51e0;